<div style="height: 100vh;width: 100%;">
  <div style="height: 10%;" class="d-flex justify-content-center align-items-center">
    <input
      type="text"
      #searchBox
      placeholder="Search Places"
      class="search-box form-control" />
      <!-- @if (time) { -->
        <p *ngIf="time">Duration {{time}}</p>
      <!-- } -->
      <!-- @if (distance) { -->
        <p *ngIf="distance">Distance {{distance}}</p>
      <!-- } -->

  </div>
  <google-map #mapRef
    height="90%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="mapClick($event)"
    (mapDragstart)="onUserMove()"
    (mapZoomChanged)="onUserMove()"
    >
    @if (livelocation.lat) {
      <map-marker class="livelocation"
        [position]="livelocation"
        title="You are here">
      </map-marker>
    }

    @if (markerdlocaton.lat) {
      <map-marker class="markedlocation"
        [position]="markerdlocaton"
        title="Marked location">
      </map-marker>
    }

    <p *ngIf="livelocation.lat" class="text-danger" style="position: absolute;z-index: 10;top: 17%;left: 5%;">
      {{livelocation.lat}}
      {{livelocation.lng}}
    </p>

    <button (click)="userLiveDirectionsBtnClick()" style="bottom: 1%;left: 1%;" class="btn btn-primary position-absolute">Start</button>

  </google-map>
</div>

