<div style="height: 100vh;width: 100%;">
  <div style="height: 10%;" class="d-flex justify-content-center align-items-center">
    <input
      type="text"
      #searchBox
      placeholder="Search Places"
      class="search-box form-control" />
      
      @if (time) {
          <p class="fw-bold text-success m-0 mx-2 p-0 text-nowrap">{{time}}</p>
        }
        @if (distance) {
          <span class="fw-bold text-success text-nowrap mx-2">{{distance}}</span>
        }

  </div>
  <google-map #mapRef
    height="90%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
    (mapClick)="mapClick($event)"
    (mapDragstart)="onUserMove()"
    (mapZoomChanged)="onUserMove()"
    >
    @if (livelocation.lat) {
      <map-marker class="livelocation"
        [position]="livelocation"
        [icon]="liveMarker"
        title="You are here">
      </map-marker>
    }

    @if (markerdlocaton.lat) {
      <map-marker class="markedlocation"
        [position]="markerdlocaton"
        title="Marked location">
      </map-marker>
    }

    @if (searhcedpos.lat) {
      <map-marker class="destinationlocation"
        [position]="searhcedpos"
        [icon]="destionMarker"
        title="Destination location">
      </map-marker>
    }

    <p *ngIf="livelocation.lat" class="text-danger" style="position: absolute;z-index: 10;top: 17%;left: 5%;">
      {{livelocation.lat}}
      {{livelocation.lng}}
    </p>

    <button (click)="userLiveDirectionsBtnClick()" style="z-index: 100;bottom: 1%;left: 1%;" class="btn btn-primary position-absolute">Start</button>

  </google-map>
</div>

